.buttonWithModalContainer {
  position: relative;
  .modal {
    position: absolute;
    top: 100%;
    left: 0;
  }
}


.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  border-radius: 0.5em;
  padding: 1em;
  border: 1px solid rgba(84, 95, 125, 0.05);
  background: #FFF;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.07);
}
