.rowMenu{
  li {
    list-style-type: none;
    a{
      padding: 1em 0.75em;
      display: flex;
      gap: 0.5em;
      align-items: center;
      min-width: 12em;

      &:hover{
        font-weight: bolder;
      }
    }
  }
}
